In [10]:
#import modules
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [11]:
# Define data types for columns

'''When reading in recived error for mixed data types for column 30,31 so changed the dtype to string.'''
dtype_options = {
    30: 'str',  
    31: 'str'  
}

# Read the CSV file with specified data types and skipped first 4 rows
vacant_lots_df = pd.read_csv("C:/Users/obafe/GitHub/southern_dallas_progress/vacant_lots/southern_dallas_progress/data/tolemi-export1692283544394.csv", 
                             dtype=dtype_options,skiprows=4)

In [12]:
#check the size of the dataset 25000 rows and 32 columns
vacant_lots_df.shape

(25000, 32)

In [13]:
#see first 5 rows and column header for snapshot of dataframe
vacant_lots_df.head()

,Parcel ID,Address,Is Vacant Property,Property Type,Current Use,Year Built,Average Year Built By Council District,Owner Location,Owner Property Count,Public Owner,City or County Owned,Owner Is Business,Owner Occupied,Suspected Heir Property,Bank Owned Property,Taxes Delinquent Since,Delinquent Taxes,Is Tax Delinquent,Code Liens - Count,Code Liens - Amount,Zip Code,Zoning,Neighborhood Association,Council Districts,Owner_1,OwnAddr_1,Owner_2,OwnAddr_2,Owner_3,OwnAddr_3,Owner_4,OwnAddr_4
0,"=""00000100051000000""","400 MAIN ST, DALLAS, TX",Yes,Land,C12 - COMMERCIAL - VACANT PLOTTED LOTS/TRACTS ...,0.0,1923.0,NaN,NaN,NaN,No,Unknown,Unknown,No,No,NaN,NaN,No,NaN,NaN,75202.0,Central Area - CA-1(A)-Central Area,Downtown Residents Council,District 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"=""00000100561000000""","1109 WOOD ST, DALLAS, TX",Yes,Land,C12 - COMMERCIAL - VACANT PLOTTED LOTS/TRACTS ...,0.0,1955.0,In City,20.0,NaN,No,Yes,No,No,No,NaN,NaN,No,NaN,NaN,75202.0,Central Area - CA-1(A)-Central Area,Downtown Residents Council,District 14,BUNTING PARTNERS LP,"2519 THOMAS AVE, DALLAS, TEXAS 752012039",NaN,NaN,NaN,NaN,NaN,NaN
2,"=""00000101971000000""","1908 ELM ST, DALLAS, TX",Yes,Structure,C12 - COMMERCIAL - VACANT PLOTTED LOTS/TRACTS ...,0.0,1955.0,In City,1.0,NaN,No,No,Unknown,No,No,NaN,NaN,No,NaN,NaN,75201.0,Other - PD-619,Downtown Residents Council,District 14,JARVIS BARNEY W JR TR & MARY LOU TR,"PO BOX 802087, DALLAS, TEXAS 753802087",NaN,NaN,NaN,NaN,NaN,NaN
3,"=""00000101995000000""","1913 COMMERCE ST, DALLAS, TX",Yes,Land,C12 - COMMERCIAL - VACANT PLOTTED LOTS/TRACTS ...,0.0,1955.0,In City,2926.0,City of Dallas,Yes,No,No,No,No,NaN,NaN,No,NaN,NaN,75201.0,Other - PD-619,Downtown Residents Council,District 14,DALLAS CITY OF,"1500 MARILLA ST, DALLAS, TEXAS 752010000",NaN,NaN,NaN,NaN,NaN,NaN
4,"=""00000103702000000""","2523 MAIN ST, DALLAS, TX",Yes,Land,C12 - COMMERCIAL - VACANT PLOTTED LOTS/TRACTS ...,0.0,1923.0,In City,91.0,NaN,No,Yes,No,No,No,NaN,NaN,No,NaN,NaN,75226.0,Other - PD-269,Deep Ellum Neighbors,District 2,WESTDALE MAIN LTD,"2550 PACIFIC AVE STE 1600, DALLAS, TEXAS 75226...",NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#Checked the data types of the columns
vacant_lots_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 33 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Parcel ID                               25000 non-null  object
 1   Address                                 25000 non-null  object
 2   Is Vacant Property                      25000 non-null  object
 3   Property Type                           25000 non-null  object
 4   Current Use                             25000 non-null  object
 5   Year Built                              23441 non-null  float64
 6   Average Year Built By Council District  24987 non-null  float64
 7   Owner Location                          22506 non-null  object
 8   Owner Property Count                    22506 non-null  float64
 9   Public Owner                            1665 non-null   object
 10  City or County Owned                    25000 non-null  object
 11  Owner Is Business                       25000 non-null  object
 12  Owner Occupied                          25000 non-null  object
 13  Suspected Heir Property                 25000 non-null  object
 14  Bank Owned Property                     25000 non-null  object
 15  Taxes Delinquent Since                  3710 non-null   object
 16  Delinquent Taxes                        3710 non-null   float64
 17  Is Tax Delinquent                       25000 non-null  object
 18  Code Liens - Count                      4373 non-null   float64
 19  Code Liens - Amount                     4373 non-null   float64
 20  Zip Code                                24998 non-null  float64
 21  Zoning                                  19909 non-null  object
 22  Neighborhood Association                15400 non-null  object
 23  Council Districts                       24987 non-null  object
 24  Owner_1                                 22506 non-null  object
 25  OwnAddr_1                               22506 non-null  object
 26  Owner_2                                 1249 non-null   object
 27  OwnAddr_2                               1249 non-null   object
 28  Owner_3                                 17 non-null     object
 29  OwnAddr_3                               17 non-null     object
 30  Owner_4                                 1 non-null      object
 31  OwnAddr_4                               1 non-null      object
 32  Zoning Category                         1511 non-null   object
dtypes: float64(7), object(26)
memory usage: 6.3+ MB

In [14]:
#Checked the amount of missing values in each column
vacant_lots_df.isnull().sum()

Parcel ID                                     0
Address                                       0
Is Vacant Property                            0
Property Type                                 0
Current Use                                   0
Year Built                                 1559
Average Year Built By Council District       13
Owner Location                             2494
Owner Property Count                       2494
Public Owner                              23335
City or County Owned                          0
Owner Is Business                             0
Owner Occupied                                0
Suspected Heir Property                       0
Bank Owned Property                           0
Taxes Delinquent Since                    21290
Delinquent Taxes                          21290
Is Tax Delinquent                             0
Code Liens - Count                        20627
Code Liens - Amount                       20627
Zip Code                                      2
Zoning                                     5091
Neighborhood Association                   9600
Council Districts                            13
Owner_1                                    2494
OwnAddr_1                                  2494
Owner_2                                   23751
OwnAddr_2                                 23751
Owner_3                                   24983
OwnAddr_3                                 24983
Owner_4                                   24999
OwnAddr_4                                 24999
dtype: int64

In [4]:
#1.How many vacant lots are in each council district?

#Groups Council distrcits and if it is vacant by council district
vacant_lots_counts_by_district  = vacant_lots_df.groupby(['Council Districts', 'Is Vacant Property'])['Council Districts'].size().unstack(fill_value=0)

#print out vacant_lots_counts_by_district dataframe
print(vacant_lots_counts_by_district )

Is Vacant Property   Yes
Council Districts
District 1          1113
District 10          461
District 11          534
District 12          216
District 13          948
District 14         1180
District 2          2453
District 3          1276
District 4          3466
District 5          1831
District 6          3503
District 7          4355
District 8          3041
District 9           610

In [ ]:
#2 How long have they been vacant? <-- Compute the min, median, mean, and max

In [48]:
# 3 How many are zoned single family residential, commercial and multifamily? <-- rows are council districts; columns are counts within each of the 3 zoning types

#3 and 6.Define a dictionary to map zoning types to categories
#Residental,Commercial,Multifamily
'''NEED to validate correct categories'''

#Dict to map Zoning column to categories
zoning_category_map = {
    'Central Area - CA-1(A)-Central Area': 'Commercial',
    'Other - PD-269': 'Other',
    'Other - PD-298': 'Other',
    'Other - PD-317': 'Other',
    'Other - PD-619': 'Other',
    'Other - PD-708': 'Other',
    'Other - PD-784': 'Other',
    'Residential-D(A)-Duplex':'Residental',
    'Residential - MF-2(A)-Multifamily': 'Multifamily',
}


vacant_lots_df['Zoning Category'] = vacant_lots_df['Zoning'].map(zoning_category_map)

# Group by 'Council Districts' and 'Zoning Category', then count occurrences
zoning_category_counts = vacant_lots_df.groupby(['Council Districts', 'Zoning Category']).size().unstack(fill_value=0)

zoning_category_counts

Zoning Category    Commercial  Multifamily  Other
Council Districts
District 1                  0           40      8
District 10                 0            4      0
District 11                 0            3      0
District 13                 0            6      0
District 14               140          106    155
District 2                 74          196    559
District 3                  0           21      0
District 4                  0           96      0
District 5                  0           20      0
District 6                  0            2      8
District 7                  0           23     28
District 8                  0           20      0
District 9                  0            2      0

In [49]:
# 4. How many vacant structures are in each council district?

# Groups Council districts by structure and vacant property

# Selecting columns of interest and filtering by 'Property Type' == 'Structure'
structure_df = vacant_lots_df[vacant_lots_df['Property Type'] == 'Structure']

# Grouping by 'Council Districts' and counting occurrences
vacant_structure_count = structure_df.groupby(['Council Districts', 'Is Vacant Property'])['Property Type'].size().unstack(fill_value=0)

vacant_structure_count

Is Vacant Property   Yes
Council Districts
District 1           343
District 10          176
District 11          275
District 12           69
District 13          604
District 14          491
District 2           910
District 3           292
District 4          1123
District 5           521
District 6           873
District 7           858
District 8           621
District 9           419

In [ ]:
#5.How long have they been vacant? (see question 2)

In [17]:
#7.How many vacant lots are in each zip code?

# Set the display option to show all rows
pd.set_option('display.max_rows', None)

# Groups the zip code and if property is vacant and produces the count 
vacant_lots_counts_by_zip = vacant_lots_df.groupby(['Zip Code','Is Vacant Property'])['Zip Code'].size().unstack(fill_value=0)

# Convert index (zip codes) to integers to remove the .0 decimal part
vacant_lots_counts_by_zip.index = vacant_lots_counts_by_zip.index.astype(int)

vacant_lots_counts_by_zip

Is Vacant Property   Yes
Zip Code
75006                  6
75019                 30
75043                  5
75050                  1
75051                 11
75060                  2
75062                  2
75063                  3
75080                  5
75081                  2
75104                  1
75115                  1
75134                  1
75141                  4
75149                  4
75150                 12
75159                  6
75181                  1
75182                  3
75201                305
75202                115
75203               1485
75204                421
75205                 74
75206                310
75207                379
75208                768
75209                299
75210                762
75211                700
75212               1882
75214                295
75215               2573
75216               2530
75217               1880
75218                256
75219                378
75220                454
75223                625
75224                203
75225                150
75226                398
75227                785
75228                641
75229                468
75230                267
75231                190
75232                303
75233                133
75234                 32
75235                402
75236                362
75237                195
75238                103
75240                225
75241               1858
75243                305
75244                 55
75246                 97
75247                225
75248                263
75249                 97
75251                 10
75252                 19
75253                574
75254                 44
75270                  2
75287                  1

In [ ]:
'''8 How long have they been vacant? 
<-- We don't have this data yet, but we can work on this when it becomes available'''

In [19]:
'''9 How many are zoned single family residential, 
commercial and multifamily? <-- rows are zip codes; 
columns are counts within each of the 3 zoning types?'''
 
vacant_lots_df['Zoning Category'] = vacant_lots_df['Zoning'].map(zoning_category_map)


# Group by 'Council Districts' and 'Zoning Category', then count occurrences
zoning_category_counts_by_zip = vacant_lots_df.groupby(['Zip Code', 'Zoning Category']).size().unstack(fill_value=0)

zoning_category_counts_by_zip

Zoning Category  Commercial  Multifamily  Other
Zip Code
75201.0                  96            0     48
75202.0                 104            0      4
75203.0                   0           54      0
75204.0                   2          136    163
75206.0                   0           74      0
75207.0                  12            0     67
75208.0                   0            3      0
75209.0                   0            3      0
75211.0                   0           23      0
75212.0                   0            1      0
75214.0                   0           28      0
75215.0                   0            0    240
75216.0                   0           35      0
75217.0                   0           25      0
75220.0                   0            1      0
75223.0                   0           18      0
75224.0                   0           25      0
75226.0                   0           20    226
75227.0                   0            9      0
75228.0                   0           18      0
75230.0                   0            1      0
75232.0                   0            1      0
75233.0                   0            1      0
75234.0                   0            2      0
75235.0                   0           28      0
75236.0                   0           17      0
75240.0                   0            1      0
75241.0                   0            9      0
75243.0                   0            4      0
75244.0                   0            1      0
75246.0                   0            0      8
75254.0                   0            1      0
75270.0                   0            0      2

In [21]:
#10:How many vacant structures are in each zip code?



# Selecting columns of interest and filtering by 'Property Type' == 'Structure'
structure_df = vacant_lots_df[vacant_lots_df['Property Type'] == 'Structure']

# Groups the zip code and if property is vacant and produces the count 
vacant_structure_counts_by_zip = structure_df.groupby(['Zip Code','Is Vacant Property','Property Type'])['Property Type'].size().unstack(fill_value=0)


vacant_structure_counts_by_zip

Property Type                Structure
Zip Code Is Vacant Property
75006.0  Yes                         1
75051.0  Yes                         2
75063.0  Yes                         1
75081.0  Yes                         1
75115.0  Yes                         1
75150.0  Yes                         1
75201.0  Yes                        93
75202.0  Yes                        22
75203.0  Yes                       244
75204.0  Yes                       118
75205.0  Yes                        48
75206.0  Yes                       158
75207.0  Yes                       104
75208.0  Yes                       193
75209.0  Yes                       204
75210.0  Yes                       146
75211.0  Yes                       199
75212.0  Yes                       394
75214.0  Yes                       170
75215.0  Yes                       387
75216.0  Yes                       979
75217.0  Yes                       431
75218.0  Yes                       195
75219.0  Yes                       171
75220.0  Yes                       192
75223.0  Yes                       114
75224.0  Yes                        66
75225.0  Yes                        88
75226.0  Yes                        48
75227.0  Yes                       333
75228.0  Yes                       513
75229.0  Yes                       253
75230.0  Yes                       133
75231.0  Yes                        82
75232.0  Yes                       111
75233.0  Yes                        41
75234.0  Yes                        15
75235.0  Yes                       175
75236.0  Yes                        39
75237.0  Yes                        26
75238.0  Yes                        56
75240.0  Yes                       146
75241.0  Yes                       420
75243.0  Yes                        99
75244.0  Yes                        39
75246.0  Yes                        14
75247.0  Yes                        44
75248.0  Yes                       101
75249.0  Yes                        33
75251.0  Yes                         6
75253.0  Yes                       112
75254.0  Yes                        12
75270.0  Yes                         1

In [50]:
#13.What is the total amount of back taxes owed on vacant land in each City Council District?

# Selecting columns of interest and filtering by 'Property Type' == 'Land'
Land_df = vacant_lots_df[vacant_lots_df['Property Type'] == 'Land']

# Grouping and calculating the total amount of back taxes owed on vacant land by City Council District
#Remove vacant prop yes filter
back_taxes_total_by_district = Land_df.groupby('Council Districts')['Delinquent Taxes'].sum()

#Convert to dataframe
back_taxes_total_by_district

Council Districts
District 1      364.21
District 10      96.31
District 11      36.66
District 12       1.35
District 13    4266.85
District 14     828.08
District 2     2624.51
District 3      697.32
District 4     1897.80
District 5      516.08
District 6     1627.29
District 7     1412.72
District 8     1709.67
District 9       35.37
Name: Delinquent Taxes, dtype: float64

In [26]:
#14.What is the total amount of back taxes owed on vacant land in each zip code?

# Selecting columns of interest and filtering by 'Property Type' == 'Land'
Land_df = vacant_lots_df[vacant_lots_df['Property Type'] == 'Land']


# Grouping and calculating the total amount of back taxes owed on vacant land by Zip Code
back_taxes_total_by_zip = Land_df[Land_df['Is Vacant Property'] == 'Yes'].groupby('Zip Code')['Delinquent Taxes'].sum()

# Convert index (zip codes) to integers to remove the .0 decimal part
back_taxes_total_by_zip.index = back_taxes_total_by_zip.index.astype(int)

back_taxes_total_by_zip

Zip Code
75006       0.00
75019       0.11
75043       0.00
75050       0.00
75051       4.58
75060       0.00
75062       0.00
75063       0.00
75080       0.01
75081       0.16
75104       0.00
75134       0.00
75141       0.00
75149       0.00
75150       0.04
75159       0.00
75181       0.00
75182       0.00
75201     633.25
75202      13.98
75203     620.59
75204     423.01
75205       0.00
75206     114.83
75207     131.87
75208     462.60
75209      20.09
75210     213.13
75211     251.09
75212    1065.74
75214      13.73
75215     933.73
75216    1284.03
75217     742.54
75218       6.52
75219     181.58
75220    2917.28
75223     429.66
75224     144.59
75225      20.75
75226    1285.84
75227     208.61
75228      40.66
75229      38.42
75230       1.51
75231    1539.41
75232     294.20
75233     140.03
75234       0.01
75235     208.18
75236     113.44
75237     359.04
75238       4.15
75240      30.25
75241     913.02
75243      47.35
75244       0.04
75246       0.32
75247       6.56
75248       5.70
75249       6.28
75251       0.00
75252       0.16
75253     241.11
75254       0.55
75270       0.00
75287       0.00
Name: Delinquent Taxes, dtype: float64

In [51]:
#15 What is the total amount of back taxes owed on vacant structures in each City Council District?

# Selecting columns of interest and filtering by 'Property Type' == 'Structure'
strucutre_df = vacant_lots_df[vacant_lots_df['Property Type'] == 'Structure']

# Grouping and calculating the total amount of back taxes owed on vacant land by City Council District
back_taxes_total_by_district_by_structure = structure_df[structure_df['Is Vacant Property'] == 'Yes'].groupby('Council Districts')['Delinquent Taxes'].sum()

back_taxes_total_by_district_by_structure

Council Districts
District 1      146.57
District 10     153.71
District 11     589.33
District 12     100.59
District 13    3572.04
District 14     818.96
District 2     1227.68
District 3      334.24
District 4     1373.96
District 5      691.21
District 6     1048.93
District 7      620.50
District 8      556.65
District 9      675.67
Name: Delinquent Taxes, dtype: float64

In [52]:
#16 What is the total amount of back taxes owed on vacant structures in each zip code?

# Selecting columns of interest and filtering by 'Property Type' == 'Structure'
strucutre_df = vacant_lots_df[vacant_lots_df['Property Type'] == 'Structure']

# Grouping and calculating the total amount of back taxes owed on vacant land by Zip Code
back_taxes_total_by_zip_by_structure = structure_df[structure_df['Is Vacant Property'] == 'Yes'].groupby('Zip Code')['Delinquent Taxes'].sum()

back_taxes_total_by_zip_by_structure

Zip Code
75006.0       0.00
75051.0       0.00
75063.0       0.00
75081.0       0.00
75115.0      48.01
75150.0       0.01
75201.0      55.97
75202.0       0.00
75203.0     232.52
75204.0     195.98
75205.0      89.96
75206.0     287.22
75207.0       0.02
75208.0     162.90
75209.0     306.29
75210.0     115.14
75211.0     147.37
75212.0     330.37
75214.0     267.57
75215.0     244.87
75216.0    1158.44
75217.0     544.82
75218.0     530.90
75219.0     153.48
75220.0    1549.09
75223.0     639.69
75224.0      14.90
75225.0     382.04
75226.0       5.69
75227.0     410.72
75228.0     390.20
75229.0     872.18
75230.0     631.15
75231.0     932.96
75232.0     138.74
75233.0      84.50
75234.0       0.00
75235.0     101.84
75236.0       7.20
75237.0      55.18
75238.0     115.34
75240.0       0.01
75241.0     282.61
75243.0      67.65
75244.0      71.40
75246.0      53.26
75247.0       6.56
75248.0     134.21
75249.0      15.40
75251.0       0.00
75253.0      75.68
75254.0       0.00
75270.0       0.00
Name: Delinquent Taxes, dtype: float64

In [ ]:
#17 What is the average age of residential properties in each council district?

#compute age by difference between 2023 and year built
#Filter on residental using zoning map dict
avg_age__prop_districts=vacant_lots_df.groupby('Council Districts')['Average Year Built By Council District'].mean()

print(avg_age__prop_districts)

In [29]:
#18 What is the average age of residential properties in each zip code?

avg_age__prop_districts=vacant_lots_df.groupby('Zip Code')['Average Year Built By Council District'].mean()

#Fills na values with 0
avg_age__prop_districts=avg_age__prop_districts.fillna(0)

#converts avg age to int data type to remve decimals
avg_age__prop_districts=avg_age__prop_districts.astype(int)

print(avg_age__prop_districts)

Zip Code
75006.0    1937
75019.0    1936
75043.0    1948
75050.0       0
75051.0    1974
75060.0    1936
75062.0    1936
75063.0    1936
75080.0    1938
75081.0    1962
75104.0    1974
75115.0    1951
75134.0    1951
75141.0    1951
75149.0    1950
75150.0    1948
75159.0    1951
75181.0    1951
75182.0    1948
75201.0    1947
75202.0    1941
75203.0    1945
75204.0    1940
75205.0    1955
75206.0    1951
75207.0    1933
75208.0    1934
75209.0    1944
75210.0    1950
75211.0    1951
75212.0    1935
75214.0    1946
75215.0    1947
75216.0    1948
75217.0    1950
75218.0    1948
75219.0    1940
75220.0    1939
75223.0    1934
75224.0    1944
75225.0    1954
75226.0    1930
75227.0    1950
75228.0    1932
75229.0    1945
75230.0    1956
75231.0    1956
75232.0    1957
75233.0    1973
75234.0    1947
75235.0    1924
75236.0    1974
75237.0    1970
75238.0    1960
75240.0    1957
75241.0    1952
75243.0    1961
75244.0    1954
75246.0    1923
75247.0    1934
75248.0    1943
75249.0    1974
75251.0    1958
75252.0    1938
75253.0    1951
75254.0    1958
75270.0    1955
75287.0    1938
Name: Average Year Built By Council District, dtype: int32

In [ ]:
#19 What is the average size of residential properties in each council district?

In [30]:
#23 What is the total amount of city liens owed on vacant land in each City Council District?

# Selecting columns of interest and filtering by 'Property Type' == 'Land'
land_df = vacant_lots_df[vacant_lots_df['Property Type'] == 'Land']

# Grouping and calculating the total amount of city liens owed on vacant land by City Council District
city_liens_total_by_district = land_df[land_df['Is Vacant Property'] == 'Yes'].groupby('Council Districts')['Code Liens - Amount'].sum()

city_liens_total_by_district

Council Districts
District 1       70631.25
District 10       8004.55
District 11       8664.41
District 12          0.00
District 13       1136.44
District 14      15633.47
District 2      192011.92
District 3      127738.58
District 4     1751618.23
District 5      547219.83
District 6      397326.53
District 7     4654053.20
District 8      830789.48
District 9        7091.55
Name: Code Liens - Amount, dtype: float64

In [31]:
#24 What is the total amount of city liens owed on vacant land in each zip code?

# Selecting columns of interest and filtering by 'Property Type' == 'Land'
land_df = vacant_lots_df[vacant_lots_df['Property Type'] == 'Land']

# Grouping and calculating the total amount of city liens owed on vacant land by City Council District
city_liens_total_by_zip = land_df[land_df['Is Vacant Property'] == 'Yes'].groupby('Zip Code')['Code Liens - Amount'].sum()

print(city_liens_total_by_zip)

Zip Code
75006.0          0.00
75019.0          0.00
75043.0          0.00
75050.0          0.00
75051.0        529.14
75060.0          0.00
75062.0          0.00
75063.0          0.00
75080.0          0.00
75081.0          0.00
75104.0          0.00
75134.0          0.00
75141.0          0.00
75149.0          0.00
75150.0          0.00
75159.0          0.00
75181.0          0.00
75182.0          0.00
75201.0          0.00
75202.0          0.00
75203.0     652736.59
75204.0      33026.20
75205.0          0.00
75206.0       3033.33
75207.0       4008.39
75208.0      36216.43
75209.0       5607.21
75210.0    1275891.12
75211.0      64523.64
75212.0     346083.29
75214.0       7263.32
75215.0    2950691.61
75216.0    1303474.82
75217.0     560994.01
75218.0          0.00
75219.0       5908.22
75220.0      17480.91
75223.0     269888.57
75224.0      35620.35
75225.0        239.61
75226.0      53981.57
75227.0      66177.20
75228.0       9506.11
75229.0       2506.52
75230.0       1502.08
75231.0          0.00
75232.0      65205.04
75233.0       7332.68
75234.0       3844.23
75235.0       3364.30
75236.0      48485.81
75237.0      11561.37
75238.0       1086.43
75240.0       6505.46
75241.0     681670.49
75243.0       6918.12
75244.0          0.00
75246.0       3960.43
75247.0       7914.18
75248.0          0.00
75249.0       3947.42
75251.0        795.35
75252.0          0.00
75253.0      52437.89
75254.0          0.00
75270.0          0.00
75287.0          0.00
Name: Code Liens - Amount, dtype: float64

In [32]:
#25 What is the total amount of city liens owed on vacant structures in each City Council District?

# Selecting columns of interest and filtering by 'Property Type' == 'Structure'
strucutre_df = vacant_lots_df[vacant_lots_df['Property Type'] == 'Structure']

# Grouping and calculating the total amount of city liens owed on vacant structures by City Council District
city_liens_total_by_district_by_structure = structure_df[structure_df['Is Vacant Property'] == 'Yes'].groupby('Council Districts')['Code Liens - Amount'].sum()

print(city_liens_total_by_district_by_structure)

Council Districts
District 1      29350.31
District 10      2939.90
District 11     62503.23
District 12     49869.82
District 13      3856.42
District 14     12677.19
District 2      56345.32
District 3      90447.04
District 4     543384.46
District 5     146186.64
District 6      66693.99
District 7     352568.47
District 8     178457.93
District 9      34982.34
Name: Code Liens - Amount, dtype: float64

In [33]:
#26 How many properties are in the name of heirship in the City of Dallas?

#Use suspected heir prop col and combine with public owner filter
# Filter the DataFrame for properties in the City of Dallas with 'Suspected Heir Property' == 'Yes'
dallas_heirship_properties = vacant_lots_df[(vacant_lots_df['Public Owner'] == 'City of Dallas')] 

# Count the number of properties in the name of heirship in the City of Dallas
dallas_heirship_property_count = dallas_heirship_properties.shape[0]

print("Number of properties in the name of heirship in the City of Dallas:", dallas_heirship_property_count)

Number of properties in the name of heirship in the City of Dallas: 1642

In [34]:
#27 How many are vacant in each zip code?

# Grouping and calculating the count of vacant properties by zip code
vacant_counts_by_zip_dallas = dallas_heirship_properties.groupby('Zip Code').size()


print(vacant_counts_by_zip_dallas)

Zip Code
75060.0      1
75159.0      1
75201.0     39
75202.0     13
75203.0    208
75204.0     13
75206.0      5
75207.0      8
75208.0     27
75209.0      5
75210.0     57
75211.0     30
75212.0     34
75214.0     13
75215.0    272
75216.0    157
75217.0    209
75218.0     13
75219.0     14
75220.0     19
75223.0     29
75224.0     11
75225.0      1
75226.0     16
75227.0     39
75228.0     23
75229.0     20
75230.0      4
75231.0     14
75232.0     11
75233.0      8
75234.0      1
75235.0      2
75236.0     11
75237.0     14
75238.0      8
75240.0      3
75241.0    193
75243.0     15
75244.0      4
75246.0      2
75247.0     13
75248.0     16
75249.0     10
75253.0     32
75254.0      4
dtype: int64

In [35]:
#28 How many are vacant in each council district?

#Based off heirship and dallas question
# Grouping and calculating the count of vacant properties by zip code
vacant_counts_by_zip_dallas = dallas_heirship_properties.groupby('Council Districts').size()


print(vacant_counts_by_zip_dallas)

Council Districts
District 1      48
District 10     27
District 11     18
District 12      8
District 13     20
District 14     53
District 2      92
District 3      69
District 4     314
District 5     187
District 6      89
District 7     407
District 8     282
District 9      28
dtype: int64

In [45]:
#29 How many private owners have five or more vacant properties in the City of Dallas?

#Add >= 5 filter to dallas private map
#Filters the dataframe by to find private oweners
dallas_private_vacant_properties = vacant_lots_df[
    (vacant_lots_df['City or County Owned'] == 'No') & 
    (vacant_lots_df['Is Vacant Property'] == 'Yes') &
    (vacant_lots_df['Owner Is Business'] == 'No') &
    (vacant_lots_df['Owner Property Count'] >= 5)
]


# Grouping by owner and calculating the count of vacant properties for each owner
owner_vacant_property_counts = dallas_private_vacant_properties.shape[0]


owner_vacant_property_counts

4478

In [47]:
#30 How many are in each zip code?

# Filter the DataFrame for properties owned by private owners with five or more properties
dallas_private_vacant_properties = vacant_lots_df[
    (vacant_lots_df['City or County Owned'] == 'No') & 
    (vacant_lots_df['Is Vacant Property'] == 'Yes') &
    (vacant_lots_df['Owner Is Business'] == 'No') &
    (vacant_lots_df['Owner Property Count'] >= 5)
]

# Grouping and calculating the count of properties by zip code
properties_count_by_zip_private_owners = dallas_private_vacant_properties.groupby('Zip Code').size()

print(properties_count_by_zip_private_owners)

Zip Code
75019.0     10
75043.0      1
75050.0      1
75051.0      1
75063.0      1
75081.0      1
75181.0      1
75182.0      1
75201.0     32
75202.0     12
75203.0    317
75204.0     46
75205.0      9
75206.0     42
75207.0     54
75208.0    134
75209.0     46
75210.0    122
75211.0    164
75212.0    473
75214.0     15
75215.0    471
75216.0    457
75217.0    307
75218.0     35
75219.0     37
75220.0     67
75223.0    133
75224.0     34
75225.0     41
75226.0    120
75227.0    146
75228.0     71
75229.0     72
75230.0     42
75231.0     27
75232.0     64
75233.0     31
75234.0      4
75235.0    104
75236.0    105
75237.0     56
75238.0     12
75240.0      9
75241.0    240
75243.0     67
75244.0      4
75246.0     37
75247.0     43
75248.0     27
75249.0     11
75251.0      2
75252.0     11
75253.0    105
75254.0      3
dtype: int64

In [6]:
#31 How many are in each council district?

# Filter the DataFrame for properties owned by private owners with five or more properties
private_owners_with_five_or_more_properties = vacant_lots_df[
    (vacant_lots_df['Owner Is Business'] == 'No') &
    (vacant_lots_df['Owner Property Count'] >= 5)
]

# Grouping and calculating the count of properties by zip code
properties_count_by_district_private_owners = private_owners_with_five_or_more_properties.groupby('Council Districts').size().reset_index()

properties_count_by_district_private_owners.sort_values('Council Districts', ascending=True)


#print(properties_count_by_district_private_owners)

   Council Districts     0
0         District 1   272
1        District 10   112
2        District 11    73
3        District 12    41
4        District 13   147
5        District 14   203
6         District 2   521
7         District 3   393
8         District 4   941
9         District 5   509
10        District 6   898
11        District 7  1230
12        District 8   716
13        District 9    89

In [ ]:
#32 How many churches own vacant properties in the City of Dallas?

In [ ]:
results = {}

results["How many vacant lots are in each council district?"] = {
    'question_number': 1,
    'value': vacant_lots_counts_by_district
}
results['''How many are zoned single family residential, commercial and multifamily?
<-- rows are council districts; columns are counts within each of the 3 zoning types'''] = {
    'question_number': 3,
    'value': zoning_category_counts
}

results["How many vacant structures are in each council district?"] = {
    'question_number': 4,
    'value': vacant_structure_count
}
results["How many vacant lots are in each zip code?"] = {
    'question_number': 7,
    'value': vacant_lots_counts_by_zip
}
results['''How long have they been vacant? <-- We don't have this data yet, 
but we can work on this when it becomes available'''] = {
    'question_number': 8,
    'value': zoning_category_counts_by_zip
}
results["How many vacant structures are in each zip code?"] = {
    'question_number': 10,
    'value': vacant_structure_counts_by_zip
}
results["What is the total amount of back taxes owed on vacant land in each City Council District?"] = {
    'question_number': 13,
    'value': back_taxes_total_by_district
}
results["What is the total amount of back taxes owed on vacant land in each zip code?"] = {
    'question_number': 14,
    'value': back_taxes_total_by_zip
}
results["What is the total amount of back taxes owed on vacant structures in each City Council District?"] = {
    'question_number': 15,
    'value': back_taxes_total_by_district_by_structure
}
results["What is the total amount of back taxes owed on vacant structures in each zip code?"] = {
    'question_number': 16,
    'value': back_taxes_total_by_zip_by_structure
}
results["What is the total amount of city liens owed on vacant land in each City Council District?"] = {
    'question_number': 23,
    'value': city_liens_total_by_district
}
results["What is the total amount of city liens owed on vacant land in each zip code?"] = {
    'question_number': 24,
    'value': city_liens_total_by_zip
}
results["What is the total amount of city liens owed on vacant structures in each City Council District?"] = {
    'question_number': 25,
    'value': city_liens_total_by_district_by_structure
}
results["How many properties are in the name of heirship in the City of Dallas?"] = {
    'question_number': 26,
    'value': dallas_heirship_property_count
}
results["How many are vacant in each zip code?"] = {
    'question_number': 27,
    'value': vacant_counts_by_zip_dallas
}
results["How many are vacant in each council district?"] = {
    'question_number': 28,
    'value': vacant_counts_by_zip_dallas
}



print(results)